In [1]:
'''
이 시험의 목적은 블럭생산 공장에서 만든 블럭에 대한 정보를 가지고
데이터를 분석해 보는 역량에 대한 성취도를 평가하는 것입니다.

각 셀에 주어진 주석 지시문을 잘 읽고 알맞은 코드를 작성해 
제시된 실행 결과와 같은 결과가 출력되도록 하세요

답안은 email로 파일첨부해 stjo@kyungmin.ac.kr로 제출
메일제목 : [기말]학번 이름
'''

'\n이 시험의 목적은 블럭생산 공장에서 만든 블럭에 대한 정보를 가지고\n데이터를 분석해 보는 역량에 대한 성취도를 평가하는 것입니다.\n\n각 셀에 주어진 주석 지시문을 잘 읽고 알맞은 코드를 작성해 \n제시된 실행 결과와 같은 결과가 출력되도록 하세요\n\n답안은 email로 파일첨부해 stjo@kyungmin.ac.kr로 제출\n메일제목 : [기말]학번 이름\n'

In [2]:
'''
본인의 학번과 이름을 여기에 쓰세요

학번 : 17871013 
이름 : 김병욱
'''

'\n본인의 학번과 이름을 여기에 쓰세요\n\n학번 : 17871013 \n이름 : 김병욱\n'

In [3]:
# 프로그램 실행에 필요한 라이브러리 가져오기
import pandas as pd

In [12]:
# 각 공장 factory_a와 factory_b에서 생산한 블럭에 대한 정보를 저장하고 있는 엑셀파일 두 개를 읽어
# 하나의 데이터 프레임(df)으로 합친 후 출력하라
df1 =pd.read_excel("factory_a.xlsx")
df2 =pd.read_excel("factory_b.xlsx")

df = pd.concat([df1,df2])

df

    number     shape material  weight
0        1    square     iron  969.34
1        1  triangle     iron     NaN
2        3  triangle  plastic  109.98
3        4  triangle     wood  473.46
4        6  triangle     wood  446.11
..     ...       ...      ...     ...
43      99    circle     wood  402.04
44     100  triangle     iron  475.59
45     100  triangle      mud  461.82
46     100    square  plastic  254.12
47     100    square     wood  579.62

[100 rows x 4 columns]

In [5]:
# 구성한 데이터 프레임 df의 자료를 보고 누락자료를 처리하라
# 누락자료를 확인하기 위한 코드를 작성하되 
# df.info() 사용하지 말고 아래 출력과 같이 나오도록 코딩
df.isnull().sum()

number      0
shape       0
material    0
weight      6
dtype: int64

In [6]:
# 확인한 누락자료의 처리 코드를 작성하라
# 단순히 지우는 방법 외의 방법을 제시하는 경우 가점 부여
# 예시 출력 결과는 단순히 지우는 방법의 결과임
df = df.fillna(df.mean())
# 누락자료 처리를 위해 선택한 방법에 대해 타당한 이유를 설명하라

''' 일방적으로 drop()하여도 좋으나 위에서 확인했듯 NaN 데이터 타입이 int 이므로 NaN 행을 버리기 보단 fillna() 함수를 사용해 평균값으로 채워넣어 통계에 빈 공간이 없도록 하여 정확도를 높일 수 있음 '''

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 47
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    100 non-null    int64
 1   shape     100 non-null    object
 2   material  100 non-null    object
 3   weight    100 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

C:\Users\user\AppData\Local\Temp\ipykernel_2752\2454823429.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

In [7]:
# 데이터 프레임(df)에서 블럭 모양(shape)의 종류는 몇가지가 있는 지 알아보아라.
# 출력은 결과 화면과 같이 나오도록 한다.
df_block = df['shape'].drop_duplicates()
print("블럭 종류는 3가지, 모양은 "+df_block.iloc[0]+" "+df_block.iloc[1]+" "+df_block.iloc[2])

블럭 종류는 3가지, 모양은 square triangle circle

In [8]:
# 재질(material) 중 나무(wood)가 가장 많은 블럭 모양(shape)이 무엇인지 출력하라.
df_material = df[(df['material'] =="wood")]

df_material['shape'].mode()

0    square
Name: shape, dtype: object

In [9]:
# df에서 블럭 모양(shape)과 재질(material)별 무게(weight)의 평균을 알아보는
# 피봇 테이블(df_pivot)을 만들고 출력하라
df_pivot = pd.pivot_table(df, index='shape' ,columns='material', values='weight', aggfunc='mean')
df_pivot

material        iron         mud     plastic        wood
shape
circle    685.188590  478.738889  238.680000  454.668121
square    893.225000  495.168859  189.791250  555.471702
triangle  444.592675  515.977500  219.052727  454.220000

In [10]:
# df에서 블럭번호(number)에 대해 블럭 모양(shape)별 재질(material)의 갯수을 알아보는
# 피봇 테이블(df_pivot)을 만들고 출력하라
df_pivot = pd.pivot_table(df, index=['number','shape'] ,columns='material', values='material', aggfunc='count',fill_value=0)
df_pivot

material         iron  mud  plastic  wood
number shape
1      square       1    0        0     0
       triangle     1    0        0     0
3      triangle     0    0        1     0
4      triangle     0    0        0     1
6      triangle     0    0        0     1
...               ...  ...      ...   ...
97     circle       0    0        0     1
       triangle     1    0        0     0
99     circle       0    0        0     1
100    square       0    0        1     1
       triangle     1    1        0     0

[85 rows x 4 columns]

In [11]:
# 위의 출력 결과는 index와 column 모두 멀티레벨이라 보기가 좋지 않다.
# 아래 출력 결과 처럼 나오도록 위 df_pivot을 수정하라.
# 주의, 이 셀을 테스트하려면 바로 위의 df_pivot을 구하는 코드를 실행한 후 해야 오류가 없음
df_pivot = pd.pivot_table(df, index='shape' ,columns='material', values='material', aggfunc='count',fill_value=0)
df_pivot.drop(axis=0)
df_pivot

ValueError: Grouper for 'material' not 1-dimensional

In [ ]:
# 상관관계 분석해보기
# 데이터 프레임(df)에서 모양(shape), 재질(material), 무게(weight)의 관계를 알아보아라
# 정답은 없으며 어떻게 분석했는 지 과정이 중요함
# 필요하면 그래프를 사용해 이들간의 관계를 시각적으로 표현해도 좋음
'''df를 확인해 보았을 때 모양과 재질 상관없이 무게가 300 미만은 플라스틱의 관계를 띄고 있음'''